body {
  background-color: #00040f;
}

/* Navigation Bar */
.navbar {
  font-family: "Roboto", sans-serif;
}
.navbar-brand {
  font-size: 20px;
}

.navbar-brand img {
  width: 45px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.navbar-brand img:hover {
  -webkit-transform: scale(1.2) rotate(1080deg);
  -moz-transform: scale(1.2) rotate(1080deg);
  -o-transform: scale(1.2) rotate(1080deg);
  -ms-transform: scale(1.2) rotate(1080deg);
  transform: scale(1.2) rotate(1080deg);
}

.navbar-nav,
.nav-link:hover {
  color: #ffb703 !important;
}
/* Navigation Bar */

/* Hero Section */
.jumbotron {
  background: url(img/paterns.png) no-repeat;
  background-color: #00040f;
  height: 100vh;
}

.jumbotron h6 {
  font-family: "Kanit", sans-serif;
  margin-top: 120px;
  color: #ffffff;
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
  /* font-weight: 500; */
}

.jumbotron h1 {
  font-family: "Kanit", sans-serif;
  font-size: 46px;
  font-weight: 600;
  line-height: 49px;
  color: #ffffff;
}

.jumbotron span {
  /* font-weight: 700; */
  color: #ffb703;
}

.jumbotron p {
  color: #e5e5e5;
  margin-top: 50px;
  margin-bottom: 50px;
}

.jumbotron .tombol {
  font-family: "Roboto", sans-serif;
  background-color: #ffb703;
  /* color: #e5e5e5; */
}

.jumbotron .bi {
  margin-right: 5px;
}

.jumbotron .button {
  color: #ffb703;
  font-weight: 500px;
}

.jumbotron .button:hover {
  color: #00040f;
  background-color: #ffb703;
}

.jumbotron .icons {
  margin-top: 10px;
}

.jumbotron .icons .bi {
  color: #e5e5e5;
  font-size: 30px;
  margin-right: 5px;
}

.jumbotron .icons .bi:hover {
  color: #ffb703 !important;
}

.jumbotron img {
  margin-top: 120px;
  border-radius: 20px;
  filter: grayscale(100%);
  width: 300px;
  display: none;
  /* -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; */
}

.jumbotron img:hover {
  filter: grayscale(0%);
  -webkit-transform: scale(1.2) rotate(1080deg);
  -moz-transform: scale(1.2) rotate(1080deg);
  -o-transform: scale(1.2) rotate(1080deg);
  -ms-transform: scale(1.2) rotate(1080deg);
  transform: scale(1.2) rotate(1080deg);
}
/* Akhir Hero Section */

/* About-me */
.about-me {
  /* background: url(img/cartographer.png); */
  background: url(img/paterns.png);
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #ffffff;
}

.about-me h2 {
  margin-top: 120px;
}

.about-me p {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-me .card {
  margin-top: 50px;
}
/* Akhir About-me */

/* Project */
.project {
  font-family: "Roboto", sans-serif;
}

.project h2 {
  color: #ffffff;
  margin-top: 120px;
}

.project .card {
  background: url(IMG/paterns.png) no-repeat;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #ffb703;
  color: #00040f;
  cursor: pointer;
}

.project .card:hover {
  background-color: #00040f;
  color: #fff;
  box-shadow: 0px 10px 15px -3px rgba(255, 254, 254, 0.1);
}

.project .card img {
  padding: 10px;
  border-radius: 20px;
}

.project .card .tombol {
  background-color: #00040f;
  color: #ffb703;
}
/* Akhir Project */

/* Interested working with me */
/* Card Panjang */
.creative {
  background: url(img/stardust.png);
  font-family: "Roboto", sans-serif;
  /* background-color: #27282b; */

  margin-top: 180px;
  margin-bottom: 225px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.11);
  padding: 20px 0 20px 0;
  /* background: rgba(202, 200, 200, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}

.creative h2 {
  margin-top: 30px;
  color: #fff;
}

.creative .tombol {
  background: linear-gradient(157.81deg, #def9fa -43.27%, #ffb703 -21.24%, #ffb703 12.19%, #ffb703 29.82%, #ffb703 51.94%, #ffb703 90.29%);
  border-radius: 10px;
  color: #fff;
  margin-top: 30px;
  padding: 15px 30px;
}

.creative .buton {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 30px;
  padding: 15px 30px;
}

.creative .buton .bi {
  margin-right: 10px;
}

/* Akhir interested working with me */

/* Tools & Skills */
.skills {
  font-family: "Roboto", sans-serif;
}

.skills h2 {
  color: #fff;
}

.skills .tools {
  margin-right: 20px;
}
/* Akhir Tools & Skills */

/* footer */
.footer {
  background: url(img/paterns.png) no-repeat;
  font-family: "Roboto", sans-serif;
}
.footer h2 {
  margin-top: 120px;
  color: #ffffff;
}

.footer p {
  color: #ffffff;
}

.footer p a {
  color: #ffb703;
}

.footer .bi {
  font-size: 32px;
  margin-right: 10px;
  color: #e5e5e5;
}

.footer h6 {
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
  color: #e5e5e5;
  text-align: center;
}
/* Akhir footer */

/* ANIMATION */
@keyframes img {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(900deg);
  }

  100% {
    transform: rotate(1800deg);
  }
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
  .jumbotron {
    height: 800px;
  }

  .jumbotron img {
    min-width: 430px;
    display: block;
  }
}
